/* styles for my resume */

body{
  font-family: "Open Sans", arial, sans-serif;
  font-size: 12px;
  color: #444;
  font-weight: 400;
}

#container{
	width: 100%
	max-width: 1200px;
	margin: "0 auto";
	padding-bottom: 50px;
	}

title{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}

#organization{
  font-size: 1.25em;
  font-weight: 400;
}

#date{
  margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

li{
  font-size: 1em;
}

/*i think this is right!*/
#name{
	border-bottom: 1px solid #33485e;
	width: 60%;
	min-width: 300px:
	margin: "0 auto";
	font-size: 3em;
  	text-transform: uppercase;
  	text-align: center;
	}

#sectionheader{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	width: 70%;
	min-width: 300px;
	font-size: 1.5em;
  	text-transform: uppercase;
  	background-color: #33485e;
  	color: white;
  	font-weight: 400
	}

#jobtitle{
	font-size: 1.5em;
  font-weight: 600;
}

#title{
	font-weight: 600;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	}

/*just for contact info*/
.menu{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom:0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	display: inline;
	}

.description{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.do{
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.degrees{
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	}

.title{
	font-weight:600;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*something is missing here, so this is supplementary*/
.selfdesrcipt{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	width: 70%;
	min-width: 300px;
	font-size: 1.5em;
		text-transform: uppercase;
	font-weight: 500;
}

#top{
	width: 60%;
	min-width: 300px;
	margin: "0 auto";
	margin-bottom: 30px;
	text-align: center;
	}
