
#container{
  align:center;
	margin: 0 auto;
	padding-bottom: 50px;
	max-width: 1200px;
	width: 100%
	}

.graphs{
font-family: helvetica, sans-serif;
font-size: 12px;
text-align:justify;
}

#headline{
  font-family: 'Merriweather', serif;
  font-size: 4em;
  text-align: center;
}

#subheads{
  font-family: 'Merriweather', serif;
  font-size: 24px;
  text-align: center;
}

.caps{
  font-family: helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
}

.byline{
  font-family: helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}

.pull{
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: #900C3F ;
  width: 700px;
  text-align: center;
}

.burners{
  font-family: helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.bio{
  font-family: helvetica, sans-serif;
  font-size:13px;
  text-align: center;
  font-style: italic;
}

.question{
  font-family: 'Merriweather', serif;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

#center{
  margin: 0 auto;
}

.clarify{
  font-family: 'Merriweather', serif;
  font-size: 18px;
  text-align: center;
}
