.graphs{
font-family: helvetica, sans-serif;
font-size: 12px;
}

#headline{
  font-family: 'Merriweather', serif;
  font-size: 4em;
}

#subheads{
  font-family: font-family: 'Merriweather', serif;
  font-size: 1.5em;
}
