body{
	background-color: white;
	background-image: linear-gradient(#ffffff, #ffb8ca);
}

#container{
	margin:0 auto;
	padding-bottom: 50px;
	max-width: 960px;
	width: 100%;
	text-align: center;
	}

	.bground{
		background-color: rgba(255, 175, 216, .5);
	}

	.nav{
		color: #0047a7;
		border: #ffb8ca;
	}

.heroimg{
	min-width: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

  .headline{
    font-family: 'Crimson Text', serif;
    font-size: 4em;
		color: #000000;
    font-style: strong;
    text-align: center;
  }

	.highlight{
		font-family: 'Crimson Text', serif;
		font-size: 1em;
		color: #83c5dd;
		font-style: strong;
	}

  .byline{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
  }

  .chapter{
    font-family: 'Crimson Text', serif;
    font-size: 2em;
		color: #0047a7;
  }
.introtext{
	color: #0047a7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
	font-style: italic;
  text-align: center;
}

.text{
	font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: left;

	padding-left: 100px;
}

.fusion{
	max-width: 500px;
	min-width: 250px;
}

.caption{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: center;
}

.footer{
  background-color: #ffb8ca;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  height: 100px;
	min-width: 300px;
  text-align: center;
}

.pull{
	text-align:center;
	font-family: 'Roboto', sans-serif;
	color: #0047a7;
	font-size:1.25em;
	width: 300px;
  height: 100px;
	font-weight: bold;
}

.chartit{
	font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  text-align: left;
	color: #0047a7;
	font-style:italic;
	font-weight:bold;
}

.picture{
margin: 0 auto;
}

.note{
	font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: center;
	width: 500px;
}


/*FOR THE SLIDESHOW*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Caption text */
.slidetext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 20px 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffb8ca;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0s;
  animation-name: fade;
  animation-duration: 2500s;
}

@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}
