container{
	margin:0 auto;
	padding-bottom: 50px;
	max-width: 960px;
	width: 100%;
	text-align: center;
	}



  .headline{
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    font-style: strong;
    text-align: center;
  }

  .byline{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
  }

  .chapter{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
  }
.text{
  font-family: 'Merriweather', serif;
  font-size: 12px;
  text-align: left;
}

.caption{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #808080;
  text-align: center;
}

.footer{
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  height: 100px;
	min-width: 300px;
  text-align: center;
}

.picture{
margin: 0 auto;
}
